<div class="filter">
  <h3>Đánh giá của khách hàng</h3>
  <button class="btnDanhgia">
    <i class="far fa-frown fa-3x"></i>
  </button>
  <button class="btnDanhgia">
    <i class="far fa-meh fa-3x"></i>
  </button>
  <button class="btnDanhgia">
    <i class="far fa-smile fa-3x"></i>
  </button>
</div>
<div class="filter">
  <h3>Lựa chọn hàng đầu</h3>
  <img src="../../../assets/beach.png" width="10%">
  <span>Bãi biển</span>
  <img src="../../../assets/spa.png" width="10%">
  <span>Spa</span>
  <img src="../../../assets/breakfast.png" width="10%">
  <span>Breakfast</span>
  <br>
  <img src="../../../assets/wifi.png" width="10%">
  <span>Wifi</span>
</div>
<div class="filter">
  <h3>Hạng khách sạn</h3>
  <div class="btn-group">
    <button class="btnRate">
      <span>1</span>
      <i class="fas fa-star"></i>
    </button>
    <button class="btnRate">
      <span>2</span>
      <i class="fas fa-star"></i>
    </button>
    <button class="btnRate">
      <span>3</span>
      <i class="fas fa-star"></i>
    </button>
    <button class="btnRate">
      <span>4</span>
      <i class="fas fa-star"></i>
    </button>
    <button class="btnRate">
      <span>5</span>
      <i class="fas fa-star"></i>
    </button>
  </div>
</div>